--
-- PostgreSQL database dump
--

\restrict MtUHIlNrYkUOfs5z31igX3xrUYMCmMXXrc5HtphBXQNb1dSP2PS1vWj0QeQbifJ

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: get_primary_cvss_score(jsonb); Type: FUNCTION; Schema: public; Owner: cveuser
--

CREATE FUNCTION public.get_primary_cvss_score(cve_data jsonb) RETURNS TABLE(version text, score double precision, severity text, vector text)
    LANGUAGE plpgsql IMMUTABLE
    AS $$
BEGIN
    -- Try CVSS v4.0 first
    IF cve_data #> '{cve,metrics,cvssMetricV40,0}' IS NOT NULL THEN
        RETURN QUERY SELECT 
            '4.0'::TEXT,
            CAST(cve_data #>> '{cve,metrics,cvssMetricV40,0,cvssData,baseScore}' AS FLOAT),
            cve_data #>> '{cve,metrics,cvssMetricV40,0,cvssData,baseSeverity}',
            cve_data #>> '{cve,metrics,cvssMetricV40,0,cvssData,vectorString}';
        RETURN;
    END IF;
    
    -- Try CVSS v3.1
    IF cve_data #> '{cve,metrics,cvssMetricV31,0}' IS NOT NULL THEN
        RETURN QUERY SELECT 
            '3.1'::TEXT,
            CAST(cve_data #>> '{cve,metrics,cvssMetricV31,0,cvssData,baseScore}' AS FLOAT),
            cve_data #>> '{cve,metrics,cvssMetricV31,0,cvssData,baseSeverity}',
            cve_data #>> '{cve,metrics,cvssMetricV31,0,cvssData,vectorString}';
        RETURN;
    END IF;
    
    -- Try CVSS v3.0
    IF cve_data #> '{cve,metrics,cvssMetricV30,0}' IS NOT NULL THEN
        RETURN QUERY SELECT 
            '3.0'::TEXT,
            CAST(cve_data #>> '{cve,metrics,cvssMetricV30,0,cvssData,baseScore}' AS FLOAT),
            cve_data #>> '{cve,metrics,cvssMetricV30,0,cvssData,baseSeverity}',
            cve_data #>> '{cve,metrics,cvssMetricV30,0,cvssData,vectorString}';
        RETURN;
    END IF;
    
    -- Try CVSS v2.0
    IF cve_data #> '{cve,metrics,cvssMetricV2,0}' IS NOT NULL THEN
        RETURN QUERY SELECT 
            '2.0'::TEXT,
            CAST(cve_data #>> '{cve,metrics,cvssMetricV2,0,cvssData,baseScore}' AS FLOAT),
            NULL::TEXT, -- v2.0 doesn't have severity
            cve_data #>> '{cve,metrics,cvssMetricV2,0,cvssData,vectorString}';
        RETURN;
    END IF;
    
    -- No CVSS data found
    RETURN;
END;
$$;


ALTER FUNCTION public.get_primary_cvss_score(cve_data jsonb) OWNER TO cveuser;

--
-- Name: refresh_cve_overview(); Type: FUNCTION; Schema: public; Owner: cveuser
--

CREATE FUNCTION public.refresh_cve_overview() RETURNS void
    LANGUAGE plpgsql
    AS $$
    BEGIN
        REFRESH MATERIALIZED VIEW CONCURRENTLY cve_overview;
    END;
    $$;


ALTER FUNCTION public.refresh_cve_overview() OWNER TO cveuser;

--
-- Name: set_updated_at(); Type: FUNCTION; Schema: public; Owner: cveuser
--

CREATE FUNCTION public.set_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
                BEGIN
                  NEW.updated_at = NOW();
                  RETURN NEW;
                END;$$;


ALTER FUNCTION public.set_updated_at() OWNER TO cveuser;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alerts; Type: TABLE; Schema: public; Owner: cveuser
--

CREATE TABLE public.alerts (
    id uuid NOT NULL,
    slug text NOT NULL,
    status text NOT NULL,
    title text NOT NULL,
    body_md text NOT NULL,
    severity text NOT NULL,
    categories jsonb DEFAULT '[]'::jsonb,
    "references" jsonb DEFAULT '[]'::jsonb,
    extras jsonb DEFAULT '{}'::jsonb,
    public_extras jsonb DEFAULT '{}'::jsonb,
    created_by text,
    updated_by text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    published_at timestamp with time zone,
    CONSTRAINT alerts_severity_check CHECK ((severity = ANY (ARRAY['info'::text, 'medium'::text, 'high'::text, 'critical'::text]))),
    CONSTRAINT alerts_status_check CHECK ((status = ANY (ARRAY['draft'::text, 'review'::text, 'published'::text, 'archived'::text])))
);


ALTER TABLE public.alerts OWNER TO cveuser;

--
-- Name: alerts_public; Type: MATERIALIZED VIEW; Schema: public; Owner: cveuser
--

CREATE MATERIALIZED VIEW public.alerts_public AS
 SELECT alerts.id,
    alerts.slug,
    alerts.title,
    alerts.body_md,
    alerts.severity,
    alerts.categories,
    alerts."references",
    alerts.public_extras,
    alerts.published_at
   FROM public.alerts
  WHERE (alerts.status = 'published'::text)
  WITH NO DATA;


ALTER TABLE public.alerts_public OWNER TO cveuser;

--
-- Name: cisa_kev; Type: TABLE; Schema: public; Owner: cveuser
--

CREATE TABLE public.cisa_kev (
    cve_id text NOT NULL,
    vendor_project text,
    product text,
    date_added date,
    required_action text,
    due_date date,
    data jsonb NOT NULL
);


ALTER TABLE public.cisa_kev OWNER TO cveuser;

--
-- Name: crawl_run_verifications; Type: TABLE; Schema: public; Owner: cveuser
--

CREATE TABLE public.crawl_run_verifications (
    id integer NOT NULL,
    run_id text NOT NULL,
    first_total integer,
    db_count integer,
    ok boolean NOT NULL,
    note text,
    checked_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.crawl_run_verifications OWNER TO cveuser;

--
-- Name: crawl_run_verifications_id_seq; Type: SEQUENCE; Schema: public; Owner: cveuser
--

CREATE SEQUENCE public.crawl_run_verifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.crawl_run_verifications_id_seq OWNER TO cveuser;

--
-- Name: crawl_run_verifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cveuser
--

ALTER SEQUENCE public.crawl_run_verifications_id_seq OWNED BY public.crawl_run_verifications.id;


--
-- Name: crawl_runs; Type: TABLE; Schema: public; Owner: cveuser
--

CREATE TABLE public.crawl_runs (
    run_id text NOT NULL,
    source text NOT NULL,
    started_at timestamp without time zone DEFAULT now() NOT NULL,
    finished_at timestamp without time zone,
    status text NOT NULL,
    stored_count integer DEFAULT 0,
    error text,
    first_total integer
);


ALTER TABLE public.crawl_runs OWNER TO cveuser;

--
-- Name: cve_curation_versions; Type: TABLE; Schema: public; Owner: cveuser
--

CREATE TABLE public.cve_curation_versions (
    id bigint NOT NULL,
    cve_id text NOT NULL,
    version_no integer NOT NULL,
    snapshot jsonb NOT NULL,
    edited_by text,
    edited_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.cve_curation_versions OWNER TO cveuser;

--
-- Name: cve_curation_versions_id_seq; Type: SEQUENCE; Schema: public; Owner: cveuser
--

CREATE SEQUENCE public.cve_curation_versions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.cve_curation_versions_id_seq OWNER TO cveuser;

--
-- Name: cve_curation_versions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cveuser
--

ALTER SEQUENCE public.cve_curation_versions_id_seq OWNED BY public.cve_curation_versions.id;


--
-- Name: cve_curations; Type: TABLE; Schema: public; Owner: cveuser
--

CREATE TABLE public.cve_curations (
    cve_id text NOT NULL,
    status text NOT NULL,
    curation_status text DEFAULT 'draft'::text NOT NULL,
    source_status text,
    title text NOT NULL,
    summary text,
    body_md text,
    tags jsonb DEFAULT '[]'::jsonb,
    "references" jsonb DEFAULT '[]'::jsonb,
    curated_patch jsonb DEFAULT '{}'::jsonb,
    extras jsonb DEFAULT '{}'::jsonb,
    public_extras jsonb DEFAULT '{}'::jsonb,
    created_by text,
    updated_by text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    published_at timestamp with time zone,
    CONSTRAINT cve_curations_curation_status_check CHECK ((curation_status = ANY (ARRAY['draft'::text, 'review'::text, 'published'::text, 'archived'::text]))),
    CONSTRAINT cve_curations_status_check CHECK ((status = ANY (ARRAY['draft'::text, 'review'::text, 'published'::text, 'archived'::text])))
);


ALTER TABLE public.cve_curations OWNER TO cveuser;

--
-- Name: nvd_cves; Type: TABLE; Schema: public; Owner: cveuser
--

CREATE TABLE public.nvd_cves (
    cve_id text NOT NULL,
    published timestamp without time zone NOT NULL,
    last_modified timestamp without time zone NOT NULL,
    source text,
    data jsonb NOT NULL
);


ALTER TABLE public.nvd_cves OWNER TO cveuser;

--
-- Name: cve_overview; Type: MATERIALIZED VIEW; Schema: public; Owner: cveuser
--

CREATE MATERIALIZED VIEW public.cve_overview AS
 SELECT n.cve_id,
    n.published,
    n.last_modified,
    n.source,
        CASE
            WHEN (k.cve_id IS NOT NULL) THEN 'both'::text
            ELSE 'nvd'::text
        END AS table_source,
        CASE
            WHEN (k.cve_id IS NOT NULL) THEN ARRAY['nvd'::text, 'cisa'::text]
            ELSE ARRAY['nvd'::text]
        END AS table_sources,
    ((n.data #>> '{cve,metrics,cvssMetricV40,0,cvssData,baseScore}'::text[]))::double precision AS cvss_v40_score,
    (n.data #>> '{cve,metrics,cvssMetricV40,0,cvssData,baseSeverity}'::text[]) AS cvss_v40_severity,
    ((n.data #>> '{cve,metrics,cvssMetricV31,0,cvssData,baseScore}'::text[]))::double precision AS cvss_v31_score,
    (n.data #>> '{cve,metrics,cvssMetricV31,0,cvssData,baseSeverity}'::text[]) AS cvss_v31_severity,
    ((n.data #>> '{cve,metrics,cvssMetricV30,0,cvssData,baseScore}'::text[]))::double precision AS cvss_v30_score,
    (n.data #>> '{cve,metrics,cvssMetricV30,0,cvssData,baseSeverity}'::text[]) AS cvss_v30_severity,
    ((n.data #>> '{cve,metrics,cvssMetricV2,0,cvssData,baseScore}'::text[]))::double precision AS cvss_v2_score,
    (n.data #>> '{cve,descriptions,0,value}'::text[]) AS description,
        CASE
            WHEN (k.cve_id IS NOT NULL) THEN true
            ELSE false
        END AS is_kev,
    k.date_added AS kev_date_added,
    k.required_action AS kev_required_action,
    k.due_date AS kev_due_date
   FROM (public.nvd_cves n
     LEFT JOIN public.cisa_kev k ON ((n.cve_id = k.cve_id)))
UNION ALL
 SELECT k.cve_id,
    (k.date_added)::timestamp without time zone AS published,
    (k.date_added)::timestamp without time zone AS last_modified,
    NULL::text AS source,
    'cisa'::text AS table_source,
    ARRAY['cisa'::text] AS table_sources,
    NULL::double precision AS cvss_v40_score,
    NULL::text AS cvss_v40_severity,
    NULL::double precision AS cvss_v31_score,
    NULL::text AS cvss_v31_severity,
    NULL::double precision AS cvss_v30_score,
    NULL::text AS cvss_v30_severity,
    NULL::double precision AS cvss_v2_score,
    (k.data)::text AS description,
    true AS is_kev,
    k.date_added AS kev_date_added,
    k.required_action AS kev_required_action,
    k.due_date AS kev_due_date
   FROM public.cisa_kev k
  WHERE (NOT (EXISTS ( SELECT 1
           FROM public.nvd_cves n2
          WHERE (n2.cve_id = k.cve_id))))
  WITH NO DATA;


ALTER TABLE public.cve_overview OWNER TO cveuser;

--
-- Name: cve_public_overview; Type: MATERIALIZED VIEW; Schema: public; Owner: cveuser
--

CREATE MATERIALIZED VIEW public.cve_public_overview AS
 SELECT o.cve_id,
    c.title AS curated_title,
    c.summary AS curated_summary,
    c.body_md AS curated_body_md,
    c.tags,
    c."references",
    c.public_extras,
    c.published_at,
    o.published AS cve_published,
    COALESCE(( SELECT max((NULLIF(((elem.value -> 'cvssData'::text) ->> 'baseScore'::text), ''::text))::double precision) AS max
           FROM (jsonb_each(COALESCE(((c.curated_patch -> 'cve'::text) -> 'metrics'::text), '{}'::jsonb)) m(key, val)
             JOIN LATERAL jsonb_array_elements(m.val) elem(value) ON (true))
          WHERE (m.key ~~ 'cvssMetricV4%'::text)), o.cvss_v40_score) AS cvss_v40_score,
    COALESCE(( SELECT ((elem.value -> 'cvssData'::text) ->> 'baseSeverity'::text)
           FROM (jsonb_each(COALESCE(((c.curated_patch -> 'cve'::text) -> 'metrics'::text), '{}'::jsonb)) m(key, val)
             JOIN LATERAL jsonb_array_elements(m.val) elem(value) ON (true))
          WHERE (m.key ~~ 'cvssMetricV4%'::text)
          ORDER BY (NULLIF(((elem.value -> 'cvssData'::text) ->> 'baseScore'::text), ''::text))::double precision DESC NULLS LAST
         LIMIT 1), o.cvss_v40_severity) AS cvss_v40_severity,
    COALESCE(( SELECT max((NULLIF(((elem.value -> 'cvssData'::text) ->> 'baseScore'::text), ''::text))::double precision) AS max
           FROM (jsonb_each(COALESCE(((c.curated_patch -> 'cve'::text) -> 'metrics'::text), '{}'::jsonb)) m(key, val)
             JOIN LATERAL jsonb_array_elements(m.val) elem(value) ON (true))
          WHERE (m.key ~~ 'cvssMetricV3%'::text)), o.cvss_v31_score) AS cvss_v31_score,
    COALESCE(( SELECT ((elem.value -> 'cvssData'::text) ->> 'baseSeverity'::text)
           FROM (jsonb_each(COALESCE(((c.curated_patch -> 'cve'::text) -> 'metrics'::text), '{}'::jsonb)) m(key, val)
             JOIN LATERAL jsonb_array_elements(m.val) elem(value) ON (true))
          WHERE (m.key ~~ 'cvssMetricV3%'::text)
          ORDER BY (NULLIF(((elem.value -> 'cvssData'::text) ->> 'baseScore'::text), ''::text))::double precision DESC NULLS LAST
         LIMIT 1), o.cvss_v31_severity) AS cvss_v31_severity,
    COALESCE(( SELECT max((NULLIF(((elem.value -> 'cvssData'::text) ->> 'baseScore'::text), ''::text))::double precision) AS max
           FROM (jsonb_each(COALESCE(((c.curated_patch -> 'cve'::text) -> 'metrics'::text), '{}'::jsonb)) m(key, val)
             JOIN LATERAL jsonb_array_elements(m.val) elem(value) ON (true))
          WHERE (m.key ~~ 'cvssMetricV4%'::text)), ( SELECT max((NULLIF(((elem.value -> 'cvssData'::text) ->> 'baseScore'::text), ''::text))::double precision) AS max
           FROM (jsonb_each(COALESCE(((c.curated_patch -> 'cve'::text) -> 'metrics'::text), '{}'::jsonb)) m(key, val)
             JOIN LATERAL jsonb_array_elements(m.val) elem(value) ON (true))
          WHERE (m.key ~~ 'cvssMetricV3%'::text)), o.cvss_v40_score, o.cvss_v31_score, o.cvss_v30_score, o.cvss_v2_score) AS cvss_score,
    COALESCE(( SELECT ((elem.value -> 'cvssData'::text) ->> 'baseSeverity'::text)
           FROM (jsonb_each(COALESCE(((c.curated_patch -> 'cve'::text) -> 'metrics'::text), '{}'::jsonb)) m(key, val)
             JOIN LATERAL jsonb_array_elements(m.val) elem(value) ON (true))
          WHERE (m.key ~~ 'cvssMetricV4%'::text)
          ORDER BY (NULLIF(((elem.value -> 'cvssData'::text) ->> 'baseScore'::text), ''::text))::double precision DESC NULLS LAST
         LIMIT 1), ( SELECT ((elem.value -> 'cvssData'::text) ->> 'baseSeverity'::text)
           FROM (jsonb_each(COALESCE(((c.curated_patch -> 'cve'::text) -> 'metrics'::text), '{}'::jsonb)) m(key, val)
             JOIN LATERAL jsonb_array_elements(m.val) elem(value) ON (true))
          WHERE (m.key ~~ 'cvssMetricV3%'::text)
          ORDER BY (NULLIF(((elem.value -> 'cvssData'::text) ->> 'baseScore'::text), ''::text))::double precision DESC NULLS LAST
         LIMIT 1), o.cvss_v40_severity, o.cvss_v31_severity, o.cvss_v30_severity) AS cvss_severity,
    o.is_kev
   FROM (public.cve_curations c
     JOIN public.cve_overview o ON ((o.cve_id = c.cve_id)))
  WHERE (COALESCE(c.curation_status, c.status) = 'published'::text)
  WITH NO DATA;


ALTER TABLE public.cve_public_overview OWNER TO cveuser;

--
-- Name: ingest_state; Type: TABLE; Schema: public; Owner: cveuser
--

CREATE TABLE public.ingest_state (
    source text NOT NULL,
    last_changed timestamp with time zone,
    last_stored_count integer DEFAULT 0,
    last_run timestamp with time zone
);


ALTER TABLE public.ingest_state OWNER TO cveuser;

--
-- Name: one_time_jobs; Type: TABLE; Schema: public; Owner: cveuser
--

CREATE TABLE public.one_time_jobs (
    id uuid NOT NULL,
    source text NOT NULL,
    run_at timestamp with time zone NOT NULL,
    params jsonb,
    status text DEFAULT 'scheduled'::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    started_at timestamp with time zone,
    finished_at timestamp with time zone,
    error text
);


ALTER TABLE public.one_time_jobs OWNER TO cveuser;

--
-- Name: publish_events; Type: TABLE; Schema: public; Owner: cveuser
--

CREATE TABLE public.publish_events (
    id bigint NOT NULL,
    content_type text NOT NULL,
    ref_id text NOT NULL,
    action text NOT NULL,
    actor text,
    at timestamp with time zone DEFAULT now(),
    CONSTRAINT publish_events_action_check CHECK ((action = ANY (ARRAY['publish'::text, 'unpublish'::text, 'delete'::text]))),
    CONSTRAINT publish_events_content_type_check CHECK ((content_type = ANY (ARRAY['curation'::text, 'alert'::text])))
);


ALTER TABLE public.publish_events OWNER TO cveuser;

--
-- Name: publish_events_id_seq; Type: SEQUENCE; Schema: public; Owner: cveuser
--

CREATE SEQUENCE public.publish_events_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.publish_events_id_seq OWNER TO cveuser;

--
-- Name: publish_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cveuser
--

ALTER SEQUENCE public.publish_events_id_seq OWNED BY public.publish_events.id;


--
-- Name: refresh_state; Type: TABLE; Schema: public; Owner: cveuser
--

CREATE TABLE public.refresh_state (
    name text NOT NULL,
    last_refreshed timestamp with time zone
);


ALTER TABLE public.refresh_state OWNER TO cveuser;

--
-- Name: scheduler_flags; Type: TABLE; Schema: public; Owner: cveuser
--

CREATE TABLE public.scheduler_flags (
    key text NOT NULL,
    value text NOT NULL,
    updated_at timestamp without time zone DEFAULT now(),
    updated_by text,
    updated_reason text
);


ALTER TABLE public.scheduler_flags OWNER TO cveuser;

--
-- Name: user_profiles; Type: TABLE; Schema: public; Owner: cveuser
--

CREATE TABLE public.user_profiles (
    user_id text NOT NULL,
    email text,
    gemini_apikey text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.user_profiles OWNER TO cveuser;

--
-- Name: crawl_run_verifications id; Type: DEFAULT; Schema: public; Owner: cveuser
--

ALTER TABLE ONLY public.crawl_run_verifications ALTER COLUMN id SET DEFAULT nextval('public.crawl_run_verifications_id_seq'::regclass);


--
-- Name: cve_curation_versions id; Type: DEFAULT; Schema: public; Owner: cveuser
--

ALTER TABLE ONLY public.cve_curation_versions ALTER COLUMN id SET DEFAULT nextval('public.cve_curation_versions_id_seq'::regclass);


--
-- Name: publish_events id; Type: DEFAULT; Schema: public; Owner: cveuser
--

ALTER TABLE ONLY public.publish_events ALTER COLUMN id SET DEFAULT nextval('public.publish_events_id_seq'::regclass);


--
-- Name: alerts alerts_pkey; Type: CONSTRAINT; Schema: public; Owner: cveuser
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_pkey PRIMARY KEY (id);


--
-- Name: alerts alerts_slug_key; Type: CONSTRAINT; Schema: public; Owner: cveuser
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_slug_key UNIQUE (slug);


--
-- Name: cisa_kev cisa_kev_pkey; Type: CONSTRAINT; Schema: public; Owner: cveuser
--

ALTER TABLE ONLY public.cisa_kev
    ADD CONSTRAINT cisa_kev_pkey PRIMARY KEY (cve_id);


--
-- Name: crawl_run_verifications crawl_run_verifications_pkey; Type: CONSTRAINT; Schema: public; Owner: cveuser
--

ALTER TABLE ONLY public.crawl_run_verifications
    ADD CONSTRAINT crawl_run_verifications_pkey PRIMARY KEY (id);


--
-- Name: crawl_runs crawl_runs_pkey; Type: CONSTRAINT; Schema: public; Owner: cveuser
--

ALTER TABLE ONLY public.crawl_runs
    ADD CONSTRAINT crawl_runs_pkey PRIMARY KEY (run_id);


--
-- Name: cve_curation_versions cve_curation_versions_pkey; Type: CONSTRAINT; Schema: public; Owner: cveuser
--

ALTER TABLE ONLY public.cve_curation_versions
    ADD CONSTRAINT cve_curation_versions_pkey PRIMARY KEY (id);


--
-- Name: cve_curations cve_curations_pkey; Type: CONSTRAINT; Schema: public; Owner: cveuser
--

ALTER TABLE ONLY public.cve_curations
    ADD CONSTRAINT cve_curations_pkey PRIMARY KEY (cve_id);


--
-- Name: ingest_state ingest_state_pkey; Type: CONSTRAINT; Schema: public; Owner: cveuser
--

ALTER TABLE ONLY public.ingest_state
    ADD CONSTRAINT ingest_state_pkey PRIMARY KEY (source);


--
-- Name: nvd_cves nvd_cves_pkey; Type: CONSTRAINT; Schema: public; Owner: cveuser
--

ALTER TABLE ONLY public.nvd_cves
    ADD CONSTRAINT nvd_cves_pkey PRIMARY KEY (cve_id);


--
-- Name: one_time_jobs one_time_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: cveuser
--

ALTER TABLE ONLY public.one_time_jobs
    ADD CONSTRAINT one_time_jobs_pkey PRIMARY KEY (id);


--
-- Name: publish_events publish_events_pkey; Type: CONSTRAINT; Schema: public; Owner: cveuser
--

ALTER TABLE ONLY public.publish_events
    ADD CONSTRAINT publish_events_pkey PRIMARY KEY (id);


--
-- Name: refresh_state refresh_state_pkey; Type: CONSTRAINT; Schema: public; Owner: cveuser
--

ALTER TABLE ONLY public.refresh_state
    ADD CONSTRAINT refresh_state_pkey PRIMARY KEY (name);


--
-- Name: scheduler_flags scheduler_flags_pkey; Type: CONSTRAINT; Schema: public; Owner: cveuser
--

ALTER TABLE ONLY public.scheduler_flags
    ADD CONSTRAINT scheduler_flags_pkey PRIMARY KEY (key);


--
-- Name: user_profiles user_profiles_email_key; Type: CONSTRAINT; Schema: public; Owner: cveuser
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_email_key UNIQUE (email);


--
-- Name: user_profiles user_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: cveuser
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_pkey PRIMARY KEY (user_id);


--
-- Name: idx_alerts_categories_gin; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_alerts_categories_gin ON public.alerts USING gin (categories);


--
-- Name: idx_alerts_extras_gin; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_alerts_extras_gin ON public.alerts USING gin (extras);


--
-- Name: idx_alerts_public_new_published_at; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_alerts_public_new_published_at ON public.alerts_public USING btree (published_at);


--
-- Name: idx_alerts_public_new_severity; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_alerts_public_new_severity ON public.alerts_public USING btree (severity);


--
-- Name: idx_alerts_published_at; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_alerts_published_at ON public.alerts USING btree (published_at);


--
-- Name: idx_alerts_status; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_alerts_status ON public.alerts USING btree (status);


--
-- Name: idx_cisa_data_gin; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_cisa_data_gin ON public.cisa_kev USING gin (data jsonb_path_ops);


--
-- Name: idx_cisa_date_added; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_cisa_date_added ON public.cisa_kev USING btree (date_added);


--
-- Name: idx_cisa_due_date; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_cisa_due_date ON public.cisa_kev USING btree (due_date);


--
-- Name: idx_cisa_vendor_project; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_cisa_vendor_project ON public.cisa_kev USING btree (vendor_project);


--
-- Name: idx_crawl_run_verifications_run_id; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_crawl_run_verifications_run_id ON public.crawl_run_verifications USING btree (run_id);


--
-- Name: idx_crawl_runs_first_total; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_crawl_runs_first_total ON public.crawl_runs USING btree (first_total);


--
-- Name: idx_crawl_runs_source; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_crawl_runs_source ON public.crawl_runs USING btree (source);


--
-- Name: idx_crawl_runs_started_at; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_crawl_runs_started_at ON public.crawl_runs USING btree (started_at DESC);


--
-- Name: idx_cve_curation_versions_cve; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_cve_curation_versions_cve ON public.cve_curation_versions USING btree (cve_id);


--
-- Name: idx_cve_curations_curated_patch_gin; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_cve_curations_curated_patch_gin ON public.cve_curations USING gin (curated_patch);


--
-- Name: idx_cve_curations_curation_status; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_cve_curations_curation_status ON public.cve_curations USING btree (curation_status);


--
-- Name: idx_cve_curations_extras_gin; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_cve_curations_extras_gin ON public.cve_curations USING gin (extras);


--
-- Name: idx_cve_overview_cvss_scores; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_cve_overview_cvss_scores ON public.cve_overview USING btree (cvss_v40_score, cvss_v31_score, cvss_v30_score, cvss_v2_score);


--
-- Name: idx_cve_overview_is_kev; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_cve_overview_is_kev ON public.cve_overview USING btree (is_kev);


--
-- Name: idx_cve_overview_new_cvss_scores; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_cve_overview_new_cvss_scores ON public.cve_overview USING btree (cvss_v40_score, cvss_v31_score, cvss_v30_score, cvss_v2_score);


--
-- Name: idx_cve_overview_new_is_kev; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_cve_overview_new_is_kev ON public.cve_overview USING btree (is_kev);


--
-- Name: idx_cve_overview_new_published; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_cve_overview_new_published ON public.cve_overview USING btree (published);


--
-- Name: idx_cve_overview_new_table_sources_gin; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_cve_overview_new_table_sources_gin ON public.cve_overview USING gin (table_sources);


--
-- Name: idx_cve_overview_published; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_cve_overview_published ON public.cve_overview USING btree (published);


--
-- Name: idx_cve_overview_table_sources_gin; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_cve_overview_table_sources_gin ON public.cve_overview USING gin (table_sources);


--
-- Name: idx_cve_public_overview_cvss_severity; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_cve_public_overview_cvss_severity ON public.cve_public_overview USING btree (cvss_severity);


--
-- Name: idx_cve_public_overview_published_at; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_cve_public_overview_published_at ON public.cve_public_overview USING btree (published_at);


--
-- Name: idx_nvd_base_severity; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_nvd_base_severity ON public.nvd_cves USING btree (((data #>> '{cve,metrics,cvssMetricV40,0,cvssData,baseSeverity}'::text[])));


--
-- Name: idx_nvd_cvss_v2_score; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_nvd_cvss_v2_score ON public.nvd_cves USING btree ((((data #>> '{cve,metrics,cvssMetricV2,0,cvssData,baseScore}'::text[]))::double precision));


--
-- Name: idx_nvd_cvss_v30_score; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_nvd_cvss_v30_score ON public.nvd_cves USING btree ((((data #>> '{cve,metrics,cvssMetricV30,0,cvssData,baseScore}'::text[]))::double precision));


--
-- Name: idx_nvd_cvss_v31_score; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_nvd_cvss_v31_score ON public.nvd_cves USING btree ((((data #>> '{cve,metrics,cvssMetricV31,0,cvssData,baseScore}'::text[]))::double precision));


--
-- Name: idx_nvd_data_gin; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_nvd_data_gin ON public.nvd_cves USING gin (data jsonb_path_ops);


--
-- Name: idx_nvd_published; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_nvd_published ON public.nvd_cves USING btree (published);


--
-- Name: idx_one_time_jobs_status_runat; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE INDEX idx_one_time_jobs_status_runat ON public.one_time_jobs USING btree (status, run_at);


--
-- Name: ux_alerts_public_new_slug; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE UNIQUE INDEX ux_alerts_public_new_slug ON public.alerts_public USING btree (slug);


--
-- Name: ux_alerts_public_slug; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE UNIQUE INDEX ux_alerts_public_slug ON public.alerts_public USING btree (slug);


--
-- Name: ux_cve_overview_cve_id; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE UNIQUE INDEX ux_cve_overview_cve_id ON public.cve_overview USING btree (cve_id);


--
-- Name: ux_cve_overview_new_cve_id; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE UNIQUE INDEX ux_cve_overview_new_cve_id ON public.cve_overview USING btree (cve_id);


--
-- Name: ux_cve_public_overview_cve_id; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE UNIQUE INDEX ux_cve_public_overview_cve_id ON public.cve_public_overview USING btree (cve_id);


--
-- Name: ux_cve_public_overview_new_cve_id; Type: INDEX; Schema: public; Owner: cveuser
--

CREATE UNIQUE INDEX ux_cve_public_overview_new_cve_id ON public.cve_public_overview USING btree (cve_id);


--
-- Name: user_profiles user_profiles_set_updated; Type: TRIGGER; Schema: public; Owner: cveuser
--

CREATE TRIGGER user_profiles_set_updated BEFORE UPDATE ON public.user_profiles FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- PostgreSQL database dump complete
--

\unrestrict MtUHIlNrYkUOfs5z31igX3xrUYMCmMXXrc5HtphBXQNb1dSP2PS1vWj0QeQbifJ

